<h2>All Historical Landmarks</h2>

<%@landmarks.each do |l|%>
  <h2><%=l.name%> - <%=l.year_completed%></h2>
<%end%>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
