<h2>Create New Landmark</h2>

<form action='/landmarks' method='post'>
  <p><label for='landmark[name]'>Name: </label><input type='text' name='landmark[name]' id='landmark_name'></p>
  <p><label for='landmark[year_completed]'>Year Completed: </label><input type='integer' name='landmark[year_completed]' id='landmark_year_completed'></p>
  <p><input type='submit' value='Create New Landmark'></p>
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
