<h1>Create a new figure!</h1>
<form action='/figures' method='post'>
  <label for='figure[name]'>Name: </label><input type='text' name='figure[name]'>
  
  <p><b>Titles</b></p>
  <%@titles.each do |t|%>
    <%=t.name%><input type='checkbox' name='figure[title_ids]' value='<%=t.id%>'><br/>
  <%end%>
  
  <p><b>Create New Title:</b></p>
  <p><input type='text' name='new_title[name]'></p>
  
  <p><b>Landmarks</b></p>
  <%@landmarks.each do |l|%>
    <%=l.name%><input type='checkbox' name='figure[landmark_ids]' value='<%=l.id%>'><br/>
  <%end%>
  
  <p><b>Create New Landmark:</b></p>
  <label for='new_landmark[name]'>Name: </label><input type='text' name='new_landmark[name]'>
  <label for='new_landmark[year]'>Year: </label><input type='integer' name='new_landmark[year]'>
  <input type='submit' value='Create New Figure'>
</form>