<h1><%=@figure.name%></h1>

<h2>Titles</h2>
<ul>
  <%@figure.titles.each do |t|%>
    <li><%=t.name%></li>
  <%end%>
</ul>

<h2>Landmarks</h2>
<ul>
  <%@figure.landmarks.each do |l|%>
    <li><%=l.name%></li>
  <%end%>
</ul>